@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.card {
    @include mixins.box-shadow('md');
    position: relative;
    width: 15rem;
    height: 25rem;
    background-color: variables.$secondary-background-color;
    border-radius: variables.$button-radius;
    overflow: visible;
    transition: transform 0.2s ease;
    margin: 0.7em;

    &:hover {
        transform: scale(1.05);
    }

    &__delete-btn {
        position: absolute;
        top: -0.8rem;
        right: -0.8rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: rgba(variables.$secondary-background-color, 0.9);
        border: 1px solid variables.$border-color;
        z-index: 1;

        .card__delete-icon {
            filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(92%) contrast(86%);
        }

        &:hover {
            background-color: variables.$secondary-background-color;
            border: 1px solid variables.$text-color;

            .card__delete-icon {
                filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg) brightness(94%) contrast(101%);
                transform: rotate(90deg);
                transition: transform variables.$transition-normal;
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 12.5rem;

        img {
            border-radius: variables.$button-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__badge {
        position: absolute;
        bottom: variables.$spacing-xs;
        right: variables.$spacing-xs;
        padding: calc(variables.$spacing-xs / 2) variables.$spacing-xs;
        border-radius: calc(variables.$button-radius / 2);
        font-size: variables.$font-small;
        color: variables.$secondary-background-color;

        &.paisagem {
            background-color: variables.$primary-color;
        }

        &.flor {
            background-color: variables.$secondary-color;
        }

        &.pizza {
            background-color: variables.$tertiary-color;
        }
    }

    &__content {
        padding: variables.$spacing-small;
        height: 12.5rem;
        overflow-y: auto;
    }

    &__title {
        font-size: calc(variables.$font-xxl);
        margin-bottom: variables.$spacing-xs;
        font-weight: 400;
    }

    &__description {
        color: variables.$text-color;
        line-height: 1.2;
        overflow-wrap: break-word;
        display: -webkit-box;
        line-clamp: 6;  
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: variables.$breakpoint-mobile-sm) {
        width: 12rem;
        height: 20rem;

        &__image {
            height: 10rem;
        }

        &__content {
            height: 10rem;
            padding: calc(variables.$spacing-small / 2);
        }

        &__title {
            font-size: variables.$font-large;
        }

        &__description {
            font-size: variables.$font-small;
            line-clamp: 6;
            -webkit-line-clamp: 6;
        }
    }

    @media (min-width: variables.$breakpoint-mobile-sm) and (max-width: variables.$breakpoint-mobile-md) {
        width: 13rem;
        height: 22rem;

        &__image {
            height: 11rem;
        }

        &__content {
            height: 11rem;
        }

        &__title {
            font-size: variables.$font-xl;
        }

        &__description {
            font-size: variables.$font-medium;
            line-clamp: 6;
            -webkit-line-clamp: 6;
        }
    }

    @media (min-width: variables.$breakpoint-mobile-md) and (max-width: variables.$breakpoint-tablet) {
        width: 14rem;
        height: 23rem;

        &__image {
            height: 11.5rem;
        }

        &__content {
            height: 11.5rem;
        }
    }

    @media (min-width: variables.$breakpoint-tablet) and (max-width: variables.$breakpoint-notebook) {
        width: 15rem;
        height: 25rem;

        &__image {
            height: 12.5rem;
        }

        &__content {
            height: 12.5rem;
        }
    }
    
    @media (min-width: variables.$breakpoint-ultrawide) {
        width: 18rem;
        height: 28rem;

        &__image {
            height: 14rem;
        }

        &__content {
            height: 14rem;
        }

        &__title {
            font-size: calc(variables.$font-xxl * 1.2);
        }

        &__description {
            font-size: variables.$font-large;
        }
    }
}