<div class="card">
    <button class="card__delete-btn" aria-label="Excluir card">
        <img class="card__delete-icon" src="svg_close.svg" alt="Close icon">
    </button>
    
    <div class="card__image">
        <img [src]="card.img" [alt]="card.title">
        <span class="card__badge" [class]="CardType[card.type].toLowerCase()">{{CardType[card.type]}}</span>
    </div>

    <div class="card__content">
        <h3 class="card__title">{{card.title}}</h3>
        <p class="card__description">{{card.description}}</p>
    </div>
</div>
