@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.header {
    @include mixins.flex-start;
    @include mixins.box-shadow;
    background-color: variables.$secondary-background-color;
    min-height: 76px;

    &__logo {
        max-width: 63px;
        max-height: 63px;
        margin-left: 8px;
    }

    &__title {
        @include mixins.flex-start(column);
        align-items: flex-start;
        padding-left: 7px;

        &-app {
            color: variables.$text-color;
            font-size: variables.$font-xl;
            letter-spacing: 1px;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }

        &-name {
            @include mixins.flex-start;
            color: variables.$secondary-text-color;
            font-size: variables.$font-medium;
            font-weight: 400;
            font-style: italic;
            margin: 0;
            padding: 0;
        }
    }

    @media (max-width: variables.$breakpoint-mobile-sm) {
        min-height: 60px;

        &__logo {
            max-width: 45px;
            max-height: 45px;
            margin-left: 5px;
        }

        &__title {
            padding-left: 5px;

            &-app {
                font-size: variables.$font-medium;
                letter-spacing: 0.5px;
            }

            &-name {
                font-size: variables.$font-small;
            }
        }
    }

    @media (min-width: variables.$breakpoint-mobile-sm) and (max-width: variables.$breakpoint-mobile-md) {
        min-height: 68px;

        &__logo {
            max-width: 55px;
            max-height: 55px;
            margin-left: 6px;
        }

        &__title {
            padding-left: 6px;

            &-app {
                font-size: variables.$font-large;
                letter-spacing: 0.8px;
            }

            &-name {
                font-size: variables.$font-medium-small;
            }
        }
    }

    @media (min-width: variables.$breakpoint-ultrawide) {
        min-height: 90px;

        &__logo {
            max-width: 75px;
            max-height: 75px;
            margin-left: 12px;
        }

        &__title {
            padding-left: 10px;

            &-app {
                font-size: variables.$font-xxl;
                letter-spacing: 1.2px;
            }

            &-name {
                font-size: variables.$font-large;
            }
        }
    }
}