@use "../../styles/variables.scss";

.divider {
    display: flex;
    align-items: center;
    width: auto;

    hr {
        background-color: variables.$secondary-text-color;
        border: none;
        height: 1px;
    }

    &__small {
        margin: 5px;
        min-width: 10px; 
    }

    &__medium {
        margin: 5px;
        min-width: 40px; 
    }

    @media (max-width: variables.$breakpoint-mobile-sm) {
        &__small {
            margin: 3px;
            min-width: 5px;
        }

        &__medium {
            margin: 3px;
            min-width: 20px;
        }
    }

    @media (min-width: variables.$breakpoint-mobile-sm) and (max-width: variables.$breakpoint-mobile-md) {
        &__small {
            margin: 4px;
            min-width: 8px;
        }

        &__medium {
            margin: 4px;
            min-width: 30px;
        }
    }

    @media (min-width: variables.$breakpoint-ultrawide) {
        &__small {
            margin: 8px;
            min-width: 15px;
        }

        &__medium {
            margin: 8px;
            min-width: 60px;
        }
    }
}