<app-header></app-header>
<div class="search" role="search">
    <div class="search__container">
        <input type="search" id="search-input" class="search__input" placeholder="Pesquisar" aria-label="Campo de pesquisa"
            aria-describedby="search-description" [formControl]="searchControl" (ngModelChange)="onSearchChange()">
        <button class="search__button" aria-label="Pesquisar">
            <img class="search__icon" src="search.png" alt="Ícone de pesquisa">
        </button>
    </div>
</div>
<app-card-list [cards]="filteredCards"></app-card-list>